body {
  font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
background-color: #BFD8D2;}
h2 {
  font-family: 'Playfair Display', serif;
  color: #337DFF;}
p{
  font-family: 'Raleway', sans-serif;
color: #000000;
 text-indent: 1.5em;}

body {
    color: #000000;
}

h1 {
    color: black
    ;
}
.intro {
        color: #000000;
        background-color: #f7cac9;
        border-style: dotted;

    }
.quote {font-style: italic;}

.hover-element {
    font-size: 1em;
    background-color: #f7cac9;
    color: #c4c8c4;
    padding: 1em;
    text-align: right;
}
.hover-element:hover {
    font-size: 4em;
    background-image: url(../imgs/puppy.jpg);
    color: rgb(255, 245, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 0.2em;
    padding: 0em;
    height: 75%;
}
