body {
    margin: 0;
    color: #777;
    font-family: 'Oswald', sans-serif;
    font: 400 15px/1.8;
}

.mountains, .northernlights, .waterfall {
    position: relative;
    opacity: 0.65;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.mountains {
    min-height: inherit;;
    background-image: url("images/mountains.jpg");
}

.northernlights {
    min-height: 400px;
    background-image: url("images/northernlights.jpg");
}

.waterfall {
    min-height: 400px;
    background-image: url('images/waterfall.jpg');
}

.hero {
    padding: 50px 80px;
    color: #777;
    background-color: white;
    text-align: center;
    text-align: justify;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #000;
    text-align: center;
}

.description-container {
    position: relative;
}

.description {
    padding: 50px 80px;
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    text-align: justify;
}

.caption span.border {
    padding: 18px;
    color: #f7f7f7;
    background-color: #4a4a4a;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    color: #111;
    text-transform: uppercase;
    font: 20px 'Raleway', sans-serif;
    letter-spacing: 5px;
}



@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
